/*===================================


  Universal Styling


*=====================================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 48px;
}


/*===================================


  Header Styling


*=====================================*/
header {
    text-align: center;
    background: rgb(0 0 0 / .5);
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

header a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: yellow;
    margin: 0px 10px;
}

header nav ul li {
    display: inline;
}

/*===================================


  Hero Section Styling


*=====================================*/
.top-hero {
    background: url('../images/hero-image.jpg') center/cover no-repeat fixed ;
    position: relative;
    min-height: 80vh;
    z-index: 1;
}

.top-hero img {
    max-width: 600px;
    margin-left: 200px;
    margin-top: 100px;
}

.hero-content {
    position: absolute;
    top: 50%;
    right: 550px;
    color: white;
}

.hero-content h1 {
    font-size: 64px;
}

.hero-content p {
    font-size: 24px;
}

/*===================================


  Specs Section Styling


*=====================================*/
.specs {
    background: url(../images/specs-background.jpg) center/cover no-repeat;
    min-height: 100vh;
    padding: 100px 0;
    position: relative; /* used for background */
    z-index: 2;
}

.specs:before,
.individual-game:before,
.games:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to top, black, transparent);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.specs .container {
    z-index: 9;
    position: relative;
}

.main-specs {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

.highlight {
    font-size: 50px;
    font-weight: bold;
    color: #9bf00b;
    text-shadow: 1px 1px 4px black;
}

.specs h3 {
    font-size: 65px;
    text-align: center;
    max-width: 500px;
    margin: 70px auto;
    color: white;
    text-shadow: 1px 1px 4px black;
}

/*===================================


  Games Section Styling


*=====================================*/
.games {
  background: url(../images/halo-background.jpg) center/cover fixed no-repeat;
  min-height: 75vh;
  padding: 100px 0;
  position: relative; /* used for background */
  z-index: 2;
}

.games h2 {
  color: white;
  text-shadow: 1px 1px 4px black;
}

.featured-game {
    min-height: 75vh;
    max-width: 500px;
    float: right;
    margin-right: 15%;
    color: white;
    position: relative;
    z-index: 2;
}

.featured-game h3 {
    font-size: 64px;
    text-transform: uppercase;
    max-width: 400px;
    color: white;
}

.master-chief {
  color: #9bf00b;
  text-shadow: 1px 1px 4px black;
  font-size: 72px;
}

a.learn-more {
    background: #9bf00b;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 20px;
    display: block;
    max-width: 130px;
    text-align: center;
}

.other-games-container {
    text-align: center;
    clear: both;
}

.individual-game {
    width: 19%;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.individual-game img {
    width: 100%;
}

.individual-game h3 {
    position: absolute;
    bottom: 70px;
    z-index: 9;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}
